.button
    padding: 4px 12px;
    position: relative;
    display: inline-block;
    outline: 0;
    border: 0;
    border: 1px solid $uiColor.dark-80;
    border-radius: $borderRadius.base;
    background-color: $uiColor.dark-80;
    color: $textColor.body;
    font-family: $fontFamily.body;
    font-weight: $fontWeight.semiBold;
    font-size: $fontSize.body;
    line-height: $lineHeight.body;
    transition: box-shadow $animation-duration-m $animation-type-ease;
    box-shadow: $boxShadow.form;
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;

    &.transparent
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;

    &:hover
        background-color: $uiColor.dark-70;
        color: $textColor.white;

    &:active
        color: $textColor.white;
        background-color: $uiColor.dark-60;
        border-color: @background-color;

    for size in $sizeList
        &.{size}
            font-size: $variantFontSize[size];

    for color in $listColors
        &.{color}
            background-color: $color[color];
            border-color: @background-color;
            color: $color.white;

            &:hover
                background-color: darken(@background-color, 8%);
                border-color: @background-color;
                color: #fff;

            &:active
                background-color: darken(@background-color, 16%);
                border-color: @background-color;
                color: #fff;

    &.transparent.base
        background-color: transparent;
        border-color: transparent;
        color: $color.base;

        &:hover
            background-color: $color.base;
            color: $color.white;

        &:active
            background-color: darken($color.base, 8%);
            color: $color.white;

    +disabled()
        color: $color.body !important;
        background-color: $color.snow;
        border-color: @background-color;

.button
    & + .group
        @extend .mt6;