.renderer
    width: 100%;
    height: 100%;
    display: flex;

#renderer, #renderer-overlay
    absolute: top left;
    width: 100%;
    height: 100%;

    image
        pointer-events: none;

#renderer-overlay
    pointer-events: none;

#app
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

#left-panel
    display: flex;
    width: 220px;
    height: 100%;
    background-color: $uiColor.dark-90;
    flex-direction: column;
    color: #fff;
    flex-shrink: 0;
    z-index: 2000;

    .layer-heading
        color: $textColor.white;
        font-size: $fontSize.sub;
        text-align: center;
        font-weight: $fontWeight.book;
        padding: 8px 0;

    .layers
        overflow-y: overlay;
        min-height: 52px;

    .layer
        color: $textColor.body;
        font-size: $fontSize.sub;
        padding: 2px 16px;
        border: 1px solid transparent;
        background-color: $uiColor.dark-80;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &.hovering
            border-color: $color.base;

        &.selected
            border-color: $color.base;
            background-color: $color.base;
            color: #fff;

#properties
    display: flex;
    width: 220px;
    height: 100%;
    background-color: $uiColor.dark-90;
    z-index: 2000;
    flex-shrink: 0;
    flex-direction: column;

    .property
        padding: 8px 20px 12px;
        margin: 8px 0;
        border-bottom: 1px solid $uiColor.dark-70;

        h5
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: .8px;
            color: $textColor.heading;
            font-size: $fontSize.small;
            margin-bottom: 4px;
            line-height: 1.68;

#toolbar
    fixed: top left;
    height: 44px;
    width: 100%;
    display: flex;
    content: ' ';
    z-index: 1800;
    background-color: rgba($uiColor.dark-100, .92);
    padding: 0 220px;
    flex-direction: row;
    align-items: center;

    & > .item
        padding: 0 16px;

    & > .item.end
        justify-self: flex-end;
        margin-left: auto;

    & > .item.title
        absolute: top left;
        width: 100%;
        height: 44px;
        z-index: 2100;
        color: $textColor.white;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
