$fontFamily = {
    body: 'Neue Frutiger W01',
    header: 'Neue Frutiger W01',
    code: 'Fira Mono'
};
$fontSize = {
    h1: 6rem,
    h2: 4.4rem,
    h3: 3.2rem,
    h4: 2.4rem,
    h5: 2rem,
    h6: 1.6rem,
    body: 1.4rem,
    sub: 1.2rem,
    small: 1rem
};
$lineHeight = {
    h1: 1.48,
    h2: 1.48,
    h3: 1.48,
    h4: 1.48,
    h5: 1.48,
    h6: 1.48,
    body: 1.68
};
$variantFontSize = {
    tiny: 1rem,
    small: 1.2rem,
    medium: 1.8rem,
    large: 2rem
};
$fontWeight = {
    book: 400,
    semiBold: 500,
    bold: 600,
    black: 800
};
